.bgImage{
    background-image: url(../../images/header/bg.jpg);
    height: 100vh;
    position: relative;
    text-align: center;
    color: white;
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
  }
  .centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;
  }